@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #000804;
}


@theme {
  --color-primary: #027348;
  --color-textColor: #A1A1A1;
    --color-black-200: #9a9a9c;
  --color-black: #0a0303;
  --color-red: #e21b1b;
  --color-red-light: #ffeeee;
  --color-borderColor: #404040;  
  --color-secondary: #CF9702;
  --color-paraColor: #A1A1A1;
}

.contentBg {
  background: linear-gradient(91.95deg, rgba(2, 115, 72, 0.4) -27.37%, rgba(3, 47, 30, 0.4) 101.16%) !important;
}

.statsBg {  
  background: linear-gradient(91.95deg, #027348 -27.37%, #032F1E 101.16%);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b5ecc34; 
  /* background: #f6f6f6; */
  border-radius: 10px;
}



/* --------------- Antd ------------- */

:where(.css-dev-only-do-not-override-13ukh3c).ant-menu .ant-menu-item-selected a::before {
  border-left: 3px solid #CF9702;
}
/* ----------- Antd OTP Width  ---------  */
.ant-otp-input-wrapper {
  width: 100% !important;  
}


.input-otp__field {
  max-width: fit-content !important;
  color: #0a0303;  
}

.ant-otp-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px !important;
  font-size: 20px;
}

.ant-otp {
  width: 100% !important;  
}

/* -------------- Rechart tooltip bg --------------------- */
.recharts-tooltip-cursor {
  fill: rgba(222, 228, 223, .1) !important;
} 

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title{
  color: #b0bfb5 !important;
}